body {
  background: linear-gradient(to right, #155799, #159957);
}

.content {
  text-align: center;
  color: white;
}

.content img {
  max-width: 15%;
  max-height: 15%;
}

#items {
  margin: 0px 80px 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit), minmax(350px, auto);
  justify-content: center;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 4px;
}

.item {
  width: 90%;
  max-width: 350px;
  height: 100px;
  margin: 20px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.item:hover,
.btn:hover {
  background-attachment: rgba(255, 255, 255, 0.2);
  color: #ffffff;
}

.btn {
  display: inline-block;
  padding: 20px 30px;
  margin: 15px;
  background-color: rgba(255, 255, 255, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  color: #000000;
  font-size: 14px;
  letter-spacing: 2px;
  cursor: pointer;
  text-transform: uppercase;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  width: 50%;
  margin: auto;
  padding: 20px;
  border: 1px solid #000;
  border-radius: 20px;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 20px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-div-img {
  display: flex;
  justify-content: center;
}

.modal-div-img img {
  min-width: 150px;
  min-height: 150px;
}
